{% extends 'basePanel.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="text-center">

    <h2>FERNSNER JULES - DEVELOPPEUR WEB JUNIOR</h2>
    <img class="cv" src="./img/cv.png" alt="cv">
</div>
<footer class="presentation">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-12 text-center p-5">
                <ul>
                    <li>LinkdIN</li>
                    <li>Actualités</li>
                    <li>Carte</li>
                    <li>Contact</li>
                </ul>
            </div>

            <div class="col-12 text-center">Copyright © 2020 Fernsner Jules</div>
        </div>
    </div>
</footer>
{% endblock %}
