
{% extends 'basePanel.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="text-center">

    <h2>Projets réalisées</h2>

    
</div>
<footer>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-12 text-center p-5">
                <ul>
                    <li>LinkdIN</li>
                    <li>Actualités</li>
                    <li>Carte</li>
                    <li>Contact</li>
                </ul>
            </div>

            <div class="col-12 text-center">Copyright © 2020 Fernsner Jules</div>
        </div>
    </div>
</footer>
{% endblock %}